PidFile=/var/run/zabbix/zabbix_agentd.pid
LogFile=/var/log/zabbix-agent/zabbix_agentd.log
LogFileSize=512
DebugLevel=4
Server={{ zabbix_server }}
ServerPort={{ zabbix_port }}
Include=/etc/zabbix/zabbix_agentd.conf.d/
